@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  padding-left: 20px;
}

ul li::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background-image: url('../public/node_logo.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

ol {
  list-style: initial;
}


@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Light.ttf");
  font-style: medium;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
